---
import NextJs from "./icons/NextJs.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";

const TAGS = {
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-white text-sky-500",
    icon: Tailwind,
  },
  NEXT: {
    name: "Next.Js",
    class: "bg-black text-white",
    icon: NextJs,
  },
};

const PROJECTS = [
  {
    title: "Transcribe",
    description:
      "Herramienta web para transcribir música que permite controlar la velocidad, crear loops y marcadores, y analizar el audio con waveform y EQ para trabajar con mayor precisión.",
    link: "https://www.transcribe.martinmedica.com",
    image: "/projects/transcribe.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Tapir",
    description: "Tienda de Arte",
    link: "https://www.tapir.uy",
    image: "/projects/tapir.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ title, description, link, image, tags }) => (
      <article class="group flex flex-col gap-8 md:flex-row">
        <div class="w-full md:w-1/2">
          <img
            class="rounded shadow-2xl shadow-white/10 transition group-hover:scale-105"
            src={image}
            alt="Captura de pantalla del proyecto"
          />
        </div>
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="mb-2 text-2xl font-semibold text-yellow-200">{title}</h3>
          <ul class="mb-4 flex flex-row gap-x-4">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} px-1 py-1`}
                >
                  <tag.icon class="size-4" /> {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <p class="mb-4 text-pretty">{description}</p>
          <a
            class="flex w-40 items-center justify-center gap-x-4 rounded-xl border border-white/10 bg-white/5 px-2 py-1 transition hover:scale-110 hover:bg-white/10"
            href={link}
            target="_blank"
            rel="noopener"
          >
            <Link />
            Preview
          </a>
        </div>
      </article>
    ))
  }
</div>
